PARADISE_API_KEY=sk_sua_chave_secreta_aqui
PARADISE_BASE_URL=https://oferta-processamento.org.ua
META_PIXEL_ID=
META_ACCESS_TOKEN=
META_GRAPH_VERSION=v21.0
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
